version: '3.8'
services:
  app:
    image: "final-project-app:latest" 
    container_name: app
    ports:
      - "8080:8080"
    #volumes:
      #- ./internal/migrations:/internal/migrations
    env_file:
      - .env
    command: "/scripts/wait --wait \"db:5432\" --command \"echo \"Databases are
      up\"\" --timeout 30"
    networks:
      - db
      - redis

  pgdb:
    image: "postgres:14-alpine"
    container_name: "db"
    environment:
      - POSTGRES_USER=db_user
    env_file:
      - .env
    ports:
      - "54320:5432"
    networks:
      - db
    volumes:
      - ../data:/var/lib/postgresql/data

  redis:
    image: "redis:6-alpine"
    container_name: "redis"
    env_file:
      - .env
    command: >
      --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    networks:
      - redis

networks:
  db: null
  redis: null
