version: '3'
services:
  pgdb:
    image: "postgres:14-alpine"
    container_name: "db"
    environment:
      - POSTGRES_USER=db_user
      - POSTGRES_PASSWORD=pwd123
    ports:
      - "54320:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  redis:
    image: "redis:6-alpine"
    container_name: "redis"
    environment:
      - REDIS_PASSWORD=pwd123
    command: >
      --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
